<!DOCTYPE html>
<html>
<head>
{{include "/templates/meta.html"}}
	<link rel="stylesheet" href="/repositories/style.css">

	<title>Dave's fantastic website™</title>
</head>
<body>
{{include "/templates/navbar.html"}}
	<main>
		<article>
			<h1>Repositories&trade;</h1>
			<hr>
			<p>They're also great!</p>
			<ul class="repository panel">{{for repository in repositories}}
			<li><a href="/repositories/{{repository.route}}">{{if repository.readme}}
				{{include repository.readme}}{{else}}
				<h3>{{if repository.name}}{{repository.name}}{{else}}Unnamed Repository #{{for.index}}{{end}}</h3>{{end}}
			</a></li>{{end}}
			</ul>
		</article>
	</main>
</body>
</html>