nav {
	position: fixed;
	z-index: 1;
}

nav .dropdown {
	background-color: #00000000;
}

nav .dropdown .contents {
	white-space: normal;
}

nav, nav ul.panel li, nav .dropdown .contents li {
	background-color: #3b5268;
}

/* MOAR PADDING! */
ul.panel li > :not(ul) {
	padding: 1em;
}

/* Prevents line breaks on desktop navbar. */
nav .desktop {
	white-space: nowrap;
}

/* Handles mobile navbar. */

nav .mobile {
	width: 100%;
	height: 100%;

	color: #ffffff;
	text-decoration: none;

	overflow-y: scroll;
}

nav .mobile .topBar {
	display: flex;
}

nav .mobile h1 {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

nav .mobile .contents ul {
	list-style-type: square;
}

nav .mobile .contents a {
	display: inline-block;

	padding: 0.5em;

	color: #ffffff;
	font-size: 1.2rem;
}