* {
	--space: 4vw /*calc(0.5rem + 5vw)*/;
	--halfSpace: calc(var(--space) / 2);
	--quarterSpace: calc(var(--space) / 4);
	--eigthSpace: calc(var(--space) / 8);

	--navTransition: 0.5s;

	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

img, canvas, input[type=submit], input[type=button] {
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	margin: 0px;
}

body > :nth-child(2) {
	padding-top: var(--space);
}

main {
	flex-grow: 1;
	height: 100%;

	background-color: #709255;
	background-image: linear-gradient(#709255, #3e5622)
}

article {
	overflow: hidden; /* Prevents float elements from overflowing. */
	word-break: break-word;

	margin: var(--space);
	padding: var(--space);

	background-color: #ffffff;
	box-shadow: #00000055 5px 5px 10px;
	border-radius: 1rem;
}

/* Image holders. */

img {
	width: 100%;
	max-width: 100rem;
	vertical-align: top; /* https://stackoverflow.com/a/11447727/13347795 */
}

video {
	width: 100%;
	border-radius: 0.5rem;
	background-color: aqua;
}

figure {
	text-align: center;
}

figure:not(main) {
	margin: 0px;
	background-color: #000000;
}

div.background.gradient {
	height: var(--space);

	margin-bottom: calc(var(--space) * -2);

	background-image: linear-gradient(#000000ff, #00000000);
}

aside {
	float: right;

	width: calc(10em + 10vw);
	max-width: 100%;

	margin: calc(var(--quarterSpace));
	padding: calc(var(--quarterSpace));

	background-color: #32a6c3;
	color: #ffffff;
}

aside > * {
	margin: 0px !important;
}

/* https://www.w3schools.com/css/css3_mediaqueries_ex.asp */
@media screen and (max-width: calc(40em + 10vw)) {
	aside {
		width: 100%;
	}
}

/* Table styles */

table {
	border-collapse: collapse;
}

th, td {
	padding: 0.5em;
}

th {
	color: #ffffff;
	background-color: #32a6c3;
	border: solid 1px #32a6c3;
}

td {
	background-color: #eeeeee;
	border: solid 1px #dddddd;
}

tr:nth-child(even) td {
	background-color: #dddddd;
}

/* Text styles */

/* f(x) = (2x^2 - 4x + 27) / 25 */
h1 {font-size: 3rem;}
h2 {font-size: calc(57rem / 25);}
h3 {font-size: calc(43rem / 25);}
h4 {font-size: calc(33rem / 25);}
h5 {font-size: calc(27rem / 25);}
p, hr, h6 {font-size: 1rem;}
legend {font-size: 1.5rem;}
article :first-child {
	margin-top: 0px;
}

p, hr, h1, h2, h3, h4, h5, h6, form, fieldset, input, label, canvas, figure {
	margin: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* General styled list */

ul.panel {
	display: flex;

	margin: 0px;
	padding: 0px;

	list-style-type: none;
}

ul.panel * {
	color: #ffffff;
	margin: 0px;
}

ul.panel li {
	background-color: #32a6c3;
}

ul.panel li > :not(ul) {
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

ul.panel li a {
	width: 100%;
	height: 100%;
}

/* Link highlighting */

ul.panel a:hover, nav .dropdown:hover a {
	background-color: #00000033;

	transition: background-color 0.2s;
}

/* Darker! */
nav .dropdown:hover .contents a:hover {
	background-color: #00000055;
}

ul.panel a:hover, nav .dropdown:hover .contents a:hover {
	text-decoration: underline;
}

/* Dropdown */

.dropdown {
	position: relative;

	width: max-content;

	background-color: #32a6c3;
	color: #ffffff;

	user-select: none;
}

.dropdown > :not(ul) {
	display: inline-block;

	padding: 0.5em;
	margin: 0px;
}

.dropdown .contents {
	flex-direction: column;

	position: absolute;

	left: 0;
	top: 100%;

	width: 100%;

	transform: scaleY(0);
	transform-origin: top;

	transition: transform 0.2s;
}

/* https://stackoverflow.com/a/17260048/13347795 */
.dropdown:hover .contents {
	transform: scaleY(1);
}

.dropdown .arrow {
	margin-left: 1em;
	transition: transform 0.2s;
}

.dropdown:hover .arrow {
	transform: rotate(-90deg)
}

/* Some CSS icons. */

.arrow, .burger {
	display: inline-block;
	vertical-align: middle;
}

/* https://css-tricks.com/snippets/css/css-triangle/ */
.arrow {
	width: 0px;
	height: 0px;

	padding: 0px;
	margin: 0.36em;

	border-right: calc(0.7em * 0.866) solid;
	border-top: 0.25em solid transparent;
	border-bottom: 0.25em solid transparent;
}

/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
.burger {
	width: min-content;
	height: min-content;

	padding: 0.5em;
}

.burger * {
	display: block;

	width: 1.75em;
	height: 0.2em;

	padding: 0px;
	
	background-color: #ffffff;
	border-radius: 0.1em;
}

.burger :nth-child(2) {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Adjusts page to device. */

/* https://stackoverflow.com/a/50302305/13347795 */
@media (pointer:none), (pointer:coarse) {
	.desktop {
		display: none !important;
	}

	nav {
		top: 0.5em;
		left: 0.5em;

		box-shadow: #00000055 5px 5px 10px;
		border-radius: 0.75em;
	}

	nav.open {
		bottom: 0.5em;
		right: 0.5em;
	}

	nav:not(.open) .mobile .contents, nav:not(.open) .mobile .topBar > :not(.burger) {
		display: none;
	}

	/* Nav mobile burger animation. */

	nav .burger {
		border-radius: 0.75em;
		transition: background-color var(--navTransition);
	}
	nav.open .burger {
		background-color: #00000033;

		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	/* Animates burger menu to X. */
	nav .burger :nth-child(1), .burger :nth-child(3) {
		transition: transform var(--navTransition);
	}
	nav .burger :nth-child(2) {
		transition: opacity var(--navTransition);
	}
	nav.open .burger :nth-child(1) {
		transform: rotate(45deg) translate(0.5em, 0.5em);
	}
	nav.open .burger :nth-child(3) {
		transform: rotate(-45deg) translate(0.5em, -0.5em);
	}
	nav.open .burger :nth-child(2) {
		opacity: 0;
	}
}

/* The opposite, don't know how to do it properly. */
@media not (pointer:none) {
	@media not (pointer:coarse) {
		.mobile {
			display: none !important;
		}

		nav {
			width: 100%;

			top: 0px;

			box-shadow: #00000055 0px 5px 10px;
		}
	}
}
