* {
	--space: 4vw /*calc(0.5rem + 5vw)*/;
	--halfSpace: calc(var(--space) / 2);
	--quarterSpace: calc(var(--space) / 4);
	--eigthSpace: calc(var(--space) / 8);
	--doubleSpace: calc(var(--space) * 2);
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

img, canvas, input[type=submit], input[type=button] {
	user-select: none;
}

body {
	min-height: 100vh;

	margin: 0px;

	background-color: #709255;
	background-image: linear-gradient(#709255, #3e5622)
}

main {
	overflow: hidden; /* Prevents float elements from overflowing. */

	margin: var(--space);
	margin-top: var(--doubleSpace);
	padding: var(--space);

	background-color: #ffffff;
	box-shadow: #00000055 5px 5px 10px;
	border-radius: 1rem;
}

/* Image holders. */

img {
	width: 100%;
}

figure {
	text-align: center;
}

aside {
	float: right;

	max-width: 100%;

	margin: calc(var(--quarterSpace));
	padding: calc(var(--quarterSpace));

	background-color: #32a6c3;
	color: #ffffff;
}

aside > * {
	margin: 0px !important;
	max-width: 20rem;
}

/* Text styles */

/* f(x) = (2x^2 - 4x + 27) / 25 */
h1 {font-size: 3rem;}
h2 {font-size: calc(57rem / 25);}
h3 {font-size: calc(43rem / 25);}
h4 {font-size: calc(33rem / 25);}
h5 {font-size: calc(27rem / 25);}
p, hr, h6 {font-size: 1rem;}
legend {font-size: 1.5rem;}
:first-child {
	margin-top: 0px;
}

p, hr, h1, h2, h3, h4, h5, h6, form, fieldset, input, label, canvas, figure {
	margin: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* General styled list */

ul.panel {
	display: flex;

	margin: 0px;
	padding: 0px;

	background-color: #32a6c3;

	list-style-type: none;
}

ul.panel * {
	color: #ffffff;
	margin: 0px;
}

ul.panel li > :not(ul) {
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

ul.panel li a {
	width: 100%;
	height: 100%;
}

/* Link highlighting */

ul.panel > :hover, nav .dropdown:hover .contents > * {
	background-color: #00000033;
	/*text-decoration: underline;*/

	transition: background-color 0.2s;
}

/* Darker! */
nav .dropdown:hover .contents > :hover {
	background-color: #00000055;
}

/* Dropdown */

.dropdown {
	position: relative;

	width: max-content;

	background-color: #32a6c3;
	color: #ffffff;

	user-select: none;
}

.dropdown > :not(ul) {
	display: inline-block;

	padding: 0.5em;
	margin: 0px;
}

.dropdown .contents {
	flex-direction: column;

	position: absolute;

	left: 0;
	top: 100%;

	width: 100%;

	transform: scaleY(0);
	transform-origin: top;

	transition: transform 0.2s;
}

/* https://stackoverflow.com/a/17260048/13347795 */
.dropdown:hover .contents {
	transform: scaleY(1);
}

/* https://css-tricks.com/snippets/css/css-triangle/ */
.dropdown .arrow {
	display: inline-block;
	
	vertical-align: middle;

	width: 0px;
	height: 0px;

	padding: 0px;
	margin: 0.36em;

	border-right: calc(0.7em * 0.866) solid;
	border-top: 0.25em solid transparent;
	border-bottom: 0.25em solid transparent;

	transition: transform 0.2s;
}

.dropdown:hover .arrow {
	transform: rotate(-90deg)
}